altgraph==0.17.4
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
MouseInfo==0.1.3
packaging==23.2
pefile==2023.2.7
pillow==10.2.0
PyAutoGUI==0.9.54
PyGetWindow==0.0.9
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
python-vlc==3.0.20123
pytweening==1.0.7
pywin32-ctypes==0.2.2
requests==2.31.0
urllib3==2.6.0
websockets==12.0
